<section class="accordion-container">
    <h4>Accordion</h4>
    <ul class="accordion" data-accordion>
        <li class="accordion-item is-active" data-accordion-item>
            <a href="#" class="accordion-title">Accordion 1</a>
            <div class="accordion-content" data-tab-content>
                The vehicle explodes, literally explodes, off the pad. The simulator shakes you a little bit, but the actual liftoff shakes your entire body and soul.

            </div>
        </li>
        <li class="accordion-item " data-accordion-item>
            <a href="#" class="accordion-title">Accordion 2</a>
            <div class="accordion-content" data-tab-content>
                The vehicle explodes, literally explodes, off the pad. The simulator shakes you a little bit, but the actual liftoff shakes your entire body and soul.

            </div>
        </li>
        <li class="accordion-item " data-accordion-item>
            <a href="#" class="accordion-title">Accordion 3</a>
            <div class="accordion-content" data-tab-content>
                The vehicle explodes, literally explodes, off the pad. The simulator shakes you a little bit, but the actual liftoff shakes your entire body and soul.
            </div>
        </li>
        <li class="accordion-item " data-accordion-item>
            <a href="#" class="accordion-title">Accordion 4</a>
            <div class="accordion-content" data-tab-content>
                The vehicle explodes, literally explodes, off the pad. The simulator shakes you a little bit, but the actual liftoff shakes your entire body and soul.

            </div>
        </li>
        <!-- ... -->
    </ul>
</section>