 <section class="blockquote">
                        <h4>Blockquote</h4>
                        <span class="quote">
                            Our planet is a lonely speck in the great enveloping cosmic dark. In our obscurity, in all this vantness, there is no hint that help will come from elsewhere to save us fron ourselves.
                        </span>
                        <p class="description">The vehicle explodes, literally explodes, off the pad. The simulator shakes you a little bit, but the actual liftoff shakes your entire body and soul. The Earth is the only world known so far to harbor life. There is nowhere else, at least in the near future, to which our species </p>

                    </section>