<footer>
    <div class="row">
        <div class="column">
            <div class="wrapper">
                <div class="row ">
                    <div class="small-24 medium-12 large-4  column">
                        <div class="item">
                            <h4>Text Widget</h4>
                            <span>It will never be erased. Each day when you enter the room these words will remind you of the price paid by Grisson ...
                            </span>
                        </div>
                    </div>
                    <div class="small-24 medium-12 large-4 column">
                        <div class="item">
                            <h4>Links Widget</h4>
                            <ul>
                                <li><span>these words will </span></li>
                                <li><span>you of the price paid</span></li>
                                <li><span>will remind</span></li>
                                <li><span>by Grissom</span></li>
                                <li><span>Career, Press Release</span></li>
                                <li><span>will remind</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="small-24 medium-12 large-8  column">
                        <div class="item">
                            <h4>Twitter Widget</h4>
                            <div class="twitter-widget">
                                <i class="fa fa-twitter"></i>
                                <div class="twitter-text">
                                    <p>2 Days Ago</p>
                                    <span class="twit">I believe that this nation should commit itself to achieving the goal ...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-24 medium-12 large-8 column">
                        <div class="item">
                            <h4>Form Widget</h4>
                            <form action="">
                                <input type="text" placeholder="Name"/>
                                <input type="email" placeholder="Email"/>
                                <textarea rows="3" cols="50" placeholder="Message"></textarea>
                                <a href="" class="btn">Send</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="social-icons">
                <a href="#">  <i class="fa fa-facebook"></i></a>
                <a href="#">  <i class="fa fa fa-tumblr"></i></a>
                <a href="#">  <i class="fa fa-google"></i></a>
            </div>
        </div>
    </div>
</footer>