<section class="multiple-tabs">
    <h4>Multiple Tab</h4>
    <ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title"><a href="#panel1" aria-selected="true">Tab 1</a></li>
        <li class="tabs-title is-active"><a href="#panel2">Tab 2</a></li>
        <li class="tabs-title"><a href="#panel3">Tab 3</a></li>
        <li class="tabs-title"><a href="#panel4">Tab 4</a></li>
    </ul>
    <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel" id="panel1">
            <p>The aggregate of our joy and suffering, thousands of confident religions, ideologies, and economic doctrines, every hunter and forager, every hero and coward, every creator and destroyer of civilization, every king and peasant, every young couple in  .</p>
        </div>
        <div class="tabs-panel is-active" id="panel2">
            <p>The aggregate of our joy and suffering, thousands of confident religions, ideologies, and economic doctrines, every hunter and forager, every hero and coward, every creator and destroyer of civilization, every king and peasant, every young couple in love, every mother and father, hopeful child, inventor and explorer, every teacher of morals, every corrupt politician, every "superstar," every "supreme leader," .</p>
        </div>
        <div class="tabs-panel" id="panel3">
            <p>mic doctrines, every hunter and forager, every hero and coward, every creator and destroyer of civilization, every king and peasant, every young couple in love, every mother and father, hopeful child, inventor and explorer, every teacher of morals, every corrupt politician, every "superstar," every "supreme leader," .</p>
        </div>
        <div class="tabs-panel" id="panel4">
            <p>The aggregate of our joy and suffering, thousands of confident religions, ideologies, and economic doctrines, every hunter and forager, every hero and coward, every c, hopeful child, inventor and explorer, every teacher of morals, every corrupt politician, every "superstar," every "supreme leader," .</p>
        </div>
    </div> 
</section>