<aside class="sidebar">
    <section class="recent-tweet">
        <h4>Recent Tweet</h4>
        <div class="item">    
            <span class="icon"> <i class="fa fa-twitter"></i></span>
            <span class="tweet-text"> 
                <p>ur posturings, our imagined self-importance, the delusion ...</p>
            </span>
            <span class="date">Fri Sep 21 08:25:04</span>
        </div>
        <div class="item">    

            <span class="icon"> <i class="fa fa-twitter"></i></span>
            <span class="tweet-text"> 
                <p>ur posturings, our imagined self-importance, the delusion ...</p>
            </span>
            <span class="date">Fri Sep 21 08:25:04</span>
        </div>
        <div class="item">    
            <span class="icon"> <i class="fa fa-twitter"></i></span>
            <span class="tweet-text"> 
                <p>ur posturings, our imagined self-importance, the delusion ...</p>
            </span>
            <span class="date">Fri Sep 21 08:25:04</span>
        </div>
    </section>
    <section class="side-menu">
        <h4>Side Menu</h4>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="page-2cols.html">Pages</a></li>
                <li><a href="team.html">Team</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>

    </section>
</aside>