<div class="slider-container">
    <button type="button" class="slick-prev"><img src="images/main-nav-left.png" alt=""></button>
    <div class="wrapper">
        <div class="slider">
            <div class="item "><span>Managing Changing Priorities.</span></div>
            <div class="item "><span>Complete Project.</span></div>
            <div class="item ">
                <img class="pic2" src="images/sliderPic2.png" alt="">  
                <img class="pic1" src="images/sliderPic.png" alt="">                    
              <span>Simple. Fully Customizable.</span>               
            </div>
            <div class="item "><span>Feliver Tools That Works.</span></div>

        </div>
    </div>
    <button type="button" class="slick-next"><img src="images/main-nav-right.png" alt=""></button>
    <div class="slide-navigation">
        <div class="wrapper">
            <button type="button" class="slick-nav-prev"></button>
            <div class="slider-nav">
                <div class="nav-item"><span>Managing Changing Priorities</span></div>
                <div class="nav-item"><span>Complete Project Clarity for whole</span></div>
                <div class="nav-item"><span>Spend Time On Business</span></div>
                <div class="nav-item"><span>Feliver Tools That Works</span></div>
            </div>
            <button type="button" class="slick-nav-next"></button>
        </div>
    </div>
    <div class="space"></div>
</div>
