.path{
    border-bottom: 1px solid #a6cdd7;
    border-top: 1px solid #a6cdd7;
    p{
        font-size: 11px;
        color: rgb(42, 83, 94);
        line-height: 2;
        text-align: left;
        a{
            line-height: 24px;
        }
    }

}

.content-title{
    background-color: $secondary-color;
    height:56px;
    margin-top: 1px;
    h2{

        font-size: 22px;
        font-family: "Lato";
        font-weight: 900;
        color: white;
        font-style: italic;
        text-align: left;
        text-shadow: 0.5px 0.866px 5px rgba(0, 0, 0, 0.7);
        line-height: 56px;
    }
}